@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg0: 5 20 25; /* black pearl */
  --bg1: 10 30 45; /* navy */
  --fg: 230 235 240; /* soft white */
  --muted: 170 180 190;
  --accent: 109 98 255;
}

html,
body {
  height: 100%;
  background: rgb(var(--bg0));
  color: rgb(var(--fg));
}

#root {
  min-height: 100%;
  background: rgb(var(--bg0));
  color: rgb(var(--fg));
}
